@media only screen and (min-width: 280px) and (max-width: 1100px) {
  @font-face {
    font-family: 'NanumBarunpenR';
    src: url('../../fonts/NanumBarunpenR.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'NanumBarunpenB';
    src: url('../../fonts/NanumBarunpenB.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lekton-Regular';
    src: url('../../fonts/Lekton-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  #howToDevelopBox {
    font-family: Lekton-Regular, NanumBarunpenB;
    width: 100%;
    height: 200px;
  }
  #howToDevelopBox .theme {
    font-family: Lekton-Regular, NanumBarunpenB;
    width: 300px;
    height: 120px;
    margin: auto;
    padding-top: 3.51399vw;
  }
  .theme dt {
    margin: auto;
    font-size: 1.875rem;
    text-align: center;
    color: var(--co-bl);
  }

  .theme dd {
    margin: auto;
    font-size: 0.8rem;
    text-align: center;
    color: var(--co-bl);
    margin-top: 1.6rem;
  }
  .method_wrap {
    display: none;
    width: 380px;
    height: 68.4px;
    margin: auto;
    text-align: center;
  }
  .method {
    margin: auto;
    float: left;
    width: 100px;
    height: 156px;
    margin-left: 5px;
    margin-top: 98px;
  }
  .method dt {
    font-size: 1rem;
  }
  .method dd {
    font-size: 0.5rem;
    margin-top: 1.625rem;
    line-height: 1rem;
  }
  .method_01 {
    margin-left: 0;
  }
  .method_02 {
    margin-left: 3vw;
    width: 150px;
  }
  .method_03 {
    float: left;
    width: 180px;
    margin-left: 4vw;
  }
  .method_04 {
    float: left;
    margin-left: 5vw;
  }
  .method_05 {
    float: left;
    width: 170px;
    margin-left: 6vw;
  }
  /*---------------------------------portfolioBox---------------*/
  #portfolioBox {
    margin: auto;
    width: 100%;
    height: auto;
    display:inline-block;
    margin-bottom: 50px;
    background-color: #fff;
  }
  .portfolio_line_bar {
    display: none;
    width: 80%;
    height: 200px;
    margin: auto;
    padding-top: 3vw;
  }
  .portfolio_line_bar li {
    font-family: 'NanumBarunpenR';
    float: left;
  }
  .portfolio_line_bar li:first-child {
    width: 10.36896vw;
    height: 3px;
    background-color: #ccc;
    margin-top: 30px;
  }
  .portfolio_line_bar li:nth-child(2) {
    padding: 20px;
    color: var(--co-bl);
    width: 86px;
    height: 30px;
    font-size: 1.4rem;
  }
  .portfolio_line_bar li:nth-child(3) {
    width: 50%;
    height: 3px;
    background-color: #ccc;
    margin-top: 30px;
  }
  /*================portWrap===============*/
  .portWrap {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .portBox {
    font-family: 'NanumBarunpenR';
    float: left;
    width: 342px;
    height: 620px;
    margin-top: 2rem;
  }
  .portBox dt {
    width: 336px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  .portBox dd {
    width: 300px;
    height: 30px;
    margin-top: 25px;
    margin-left: 6.5%;
    font-size: 1.0625rem;
    line-height: 3rem;
  }
  .pTagWrap {
    position: relative;
    margin: auto;
    top: 55px;
    width: auto;
    height: 40px;
  }
  .detailInfo {
    position: absolute;
    z-index: 1000;
    float: left;
    width: 134px;
    height: 35px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 2rem;
  }
  .homepage {
    position: absolute;
    z-index: 1000;
    float: left;
    left: 10rem;
    width: 134px;
    height: 35px;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 2rem;
  }
  .detailInfo a,
  .homepage a {
    display: block;
    width: 134px;
    height: 35px;
  }
  .detailInfo a.on {
    background-color: var(--co-or-op);
  }
  .homepage a.on {
    background-color: var(--co-or-op);
  }
}
