@media only screen and (min-width: 280px) and (max-width: 800px) {
  @font-face {
    font-family: 'NanumBarunpenR';
    src: url('../../fonts/NanumBarunpenR.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'NanumBarunpenB';
    src: url('../../fonts/NanumBarunpenB.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lekton-Regular';
    src: url('../../fonts/Lekton-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  #wrap_detailpage {
    width: 100%;
    height: 1000px;
  }
  #detailThemeBox {
    margin: auto;
    width: 100%;
    height: 700px;
    line-height: 2rem;
  }
  #detailThemeBox > .detailTheme {
    margin: auto;
    padding-top: 7rem;
    width: 139px;
    height: 25px;
    text-align: left;
  }
  .detailTheme dt {
    font-family: Lekton-Regular;
    text-align: center;
    font-size: 1.4rem;
  }
  .detailTheme dd {
    font-family: Lekton-Regular;
    text-align: center;
    font-size: 1.2rem;
  }
  .detailsub {
    font-family: 'Lekton-Regular';
    margin: auto;
    margin-top: 10rem;
    width: 320px;
    height: 200px;
    line-height: 2.4rem;
  }
  /*=======================#siteDirection==================================*/
  #siteDirection {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
  }
  .article_01 {
    float: left;
    margin-left: 5vw;
    margin-top: 10.105417vw;
    width: 38.383602vw;
    height: 700px;
    font-size: 0.775rem;
  }
  .article_01 dt {
    font-size: 0.9rem;
  }
  .article_01 dd {
    margin-top: 5.978038vw;
    line-height: 1.6rem;
  }
  .picture_01 {
    float: left;
    width: 20vw;
    height: 56.515373vw;
  }
  .picture_01 li:nth-child(1) {
    position: absolute;
    top: 16.105417vw;
    left: 70%;
    float: left;
    z-index: 20;
    width: 130px;
    height: 500px;
    background-image: url(../../img/pfizer_present_recruit.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .picture_01 li:nth-child(2) {
    position: absolute;
    float: right;
    top: -20vw;
    left: 47%;
    width: 150px;
    height: 790px;
    background-image: url(../../img/pfizer_present_mainpage.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }
  /*============company_analysis======================*/
  #company_analysis {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
  }
  #companyAnalysis {
    float: left;
    margin: auto;
    width: 100%;
    height: 500px;
  }
  .analysisTheme {
    float: left;
    margin-left: 5vw;
    margin-top: 60.105417vw;
    width: 33.383602vw;
    height: 300px;
    font-size: 0.775rem;
  }
  .analysisTheme dt {
    font-size: 0.9rem;
  }
  .analysisTheme dd {
    margin-top: 4.978038vw;
    line-height: 1.6rem;
  }
  .swot {
    float: right;
    margin-top: 20vw;
    margin-right: 0;
    width: 60.421053vw;
    height: 350px;
  }
  .swot_01 {
    float: right;
    margin-top: 8vw;
    margin-right: 0;
    width: 60.421053vw;
    height: 200px;
  }
  .swot dl {
    float: left;
    width: 100px;
    height: 354px;
    margin-left: 5vw;
  }
  .swot dt {
    font-size: 0.8rem;
  }
  .swot dd {
    font-size: 0.6rem;
    margin-top: 3rem;
    line-height: 1.5rem;
  }
  .swot_01 dl {
    float: left;
    width: 100px;
    height: 354px;
    margin-left: 5vw;
  }
  .swot_01 dt {
    font-size: 0.8rem;
  }
  .swot_01 dd {
    font-size: 0.6rem;
    margin-top: 3rem;
    line-height: 1.5rem;
  }
  .swot > .swotWeakness,
  .swot_01 > .swotThreat {
    float: left;
    margin-left: 2vw;
  }
  /*-----------------------personaBox------------*/
  #personaBox {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
  }
  .personaWrap {
    float: left;
    margin: auto;
    width: 100%;
    height: 500px;
  }
  .personaTheme {
    float: left;
    margin-left: 5vw;
    margin-top: 30.105417vw;
    width: 33.383602vw;
    height: 300px;
    font-size: 0.775rem;
  }
  .personaTheme dt {
    font-size: 0.9rem;
  }
  .personaTheme dd {
    margin-top: 4.978038vw;
    line-height: 1.6rem;
  }
  .pictureBox {
    float: right;
    margin: auto;
    margin-right: 5vw;
    margin-top: 17.105417vw;
    width: 48vw;
    height: 300px;
    background-image: url(../../img/persona.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  /*-----------conceptBox-------------------*/
  #conceptBox {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
  }
  .conceptWrap {
    float: left;
    margin: auto;
    width: 100%;
    height: 500px;
  }
  .conceptTheme {
    float: left;
    margin-left: 5vw;
    margin-top: 25%;
    width: 36.383602vw;
    height: 35.139092vw;
    font-size: 0.775rem;
  }
  .conceptTheme dt {
    font-size: 0.9rem;
  }
  .conceptTheme dd {
    margin-top: 4.978038vw;
    line-height: 1.6rem;
  }
  .concept_pictureBox {
    float: right;
    margin: auto;
    margin-left: 3vw;
    margin-top: 10%;
    width: 53vw;
    height: 300px;
    background-image: url(../../img/color-contrast.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  /*======================typoBox=============*/
  #typoBox {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
  }
  .typoWrap {
    margin: auto;
    width: 77.5988287vw;
    height: 58.56515373vw;
  }
  .typoTheme {
    float: left;
    margin-top: 25%;
    width: 36.383602vw;
    height: 35.139092vw;
    font-size: 0.775rem;
  }
  .typoTheme dt {
    font-size: 0.9rem;
  }

  .typo_pictureBox {
    float: right;
    margin: auto;
    margin-top: 3vw;
    width: 38.06735vw;
    height: 50vw;
    background-image: url(../../img/typo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  /*==============prototoypeBox==============*/
  #prototypeBox {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
  }
  .prototypeWrap {
    margin: auto;
    width: 77.5988287vw;
    height: 58.56515373vw;
  }
  .prototypeTheme {
    float: left;
    margin-top: 25%;
    width: 36.383602vw;
    height: 35.139092vw;
    font-size: 0.775rem;
  }
  .prototypeTheme dt {
    font-size: 0.9rem;
  }
  .prototypeTheme dd {
    margin-top: 4.978038vw;
    line-height: 1.6rem;
  }

  .prototype_pictureBox {
    float: right;
    margin: auto;
    margin-top: 10vw;
    width: 40vw;
    height: 50vw;
    background-image: url(../../img/sketch.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  /*===================photoshopBox======================*/
  #photoshopBox {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
  }
  .photoshopWrap {
    margin: auto;
    width: 77.5988287vw;
    height: 58.56515373vw;
  }
  .photoshopTheme {
    float: left;
    margin-top: 25%;
    width: 36.383602vw;
    height: 35.139092vw;
    font-size: 0.775rem;
  }
  .photoshopTheme dt {
    font-size: 1rem;
  }
  .photoshopTheme dd {
    margin-top: 4.978038vw;
    line-height: 1.6rem;
  }

  .photoshop_pictureBox {
    float: right;
    margin: auto;
    margin-top: 5vw;
    width: 38.06735vw;
    height: 50vw;
    background-image: url(../../img/photoshopPfizer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  /*===================codingBox======================*/
  #codingBox {
    position: relative;
    width: 100%;
    height: 1000px;
    margin: auto;
  }
  .codingWrap {
    position: relative;
    margin: auto;
    width: 77.5988287vw;
    height: 58.56515373vw;
  }
  .codingTheme {
    float: left;
    margin-top: 25%;
    width: 36.383602vw;
    height: 35.139092vw;
    font-size: 0.775rem;
  }
  .codingTheme dt {
    font-size: 1rem;
  }
  .codingTheme dd {
    margin-top: 4.978038vw;
    line-height: 1.6rem;
  }

  .coding_pictureBox {
    float: right;
    margin: auto;
    margin-top: 5vw;
    width: 36.6vw;
    overflow: hidden;
  }
  .codingPicUl {
    width: 150.489019vw;
    height: 50vw;
  }
  .codingPicUl li {
    float: left;
    width: 23vw;
    height: 65vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .codingPicUl .main {
    background-image: url(../../img/pfizer/pfizer_main.png);
  }
  .codingPicUl .introduce {
    background-image: url(../../img/pfizer/210101_pfizerWebIntroducing.png);
  }
  .codingPicUl .product {
    background-image: url(../../img/pfizer/210101_pfizerWebProduct.png);
  }
  .codingPicUl .social {
    background-image: url(../../img/pfizer/210101_pfizerWebSocial.png);
  }
  .codingPicUl .recruit {
    background-image: url(../../img/pfizer/210101_pfizerWebRecruit.png);
  }

  .codingPicUl .main:hover {
    background-image: url(../../img/pfizer/pfizer_main_hover_01.png);
  }
  .codingPicUl .introduce:hover {
    background-image: url(../../img/pfizer/210101_pfizerWebintroducingHover.png);
  }
  .codingPicUl .product:hover {
    background-image: url(../../img/pfizer/210101_pfizerWebProductHover.png);
  }
  .codingPicUl .social:hover {
    background-image: url(../../img/pfizer/210101_pfizerWebSocialModal.png);
  }

  .button {
    position: absolute;
    top: 300px;
    left: 5%;
  }
  .prev,
  .next {
    font-size: 2rem;
  }
  .next {
    margin-left: 3rem;
  }
  .coding_explain {
    position: absolute;
    width: 230px;
    height: 80px;
    top: -10%;
    left: 0%;
    font-size: 0.7rem;
    background-color: var(--co-or-op);
    padding: 10px;
  }
  .coding_button {
    position: absolute;
    top: 300px;
    left: 200px;
    width: 100px;
    height: 100px;
    line-height: 1.2 rem;
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
    border: 1px solid #171717;
  }
  .coding_button:hover {
    background-color: var(--co-or-op);
  }
  .coding_explain_02 {
    position: absolute;
    width: 400px;
    height: 100px;
    top: 45%;
    left: 4%;
    border: 1px solid #171717;
    overflow: hidden;
  }
  .explainWrap {
    width: 500%;
    height: 100px;
  }
  .explainWrap li {
    float: left;
    font-size: 0.7rem;
    line-height: 2rem;
    text-indent: 0.2rem;
  }

  .coding_button a {
    display: block;
    width: 100px;
    height: 100px;
  }

  .modalBox {
    display: none;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 73.2306442vw;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .modalUl {
    margin: auto;
    margin-top: 10vw;
    width: 90.33675vw;
    height: 50.219619vw;
    background-color: #fff;
  }
  .modalUl li {
    float: left;
    font-size: 3rem;
  }
  .modalUl li a {
    width: 100px;
    height: 100px;
  }

  .html {
    margin-left: 0;
    width: 29vw;
    height: 50.219619vw;

    background-repeat: no-repeat;
    background-position: 70% 50%;
    background-size: contain;
  }
  .css {
    width: 29vw;
    margin-left: 1.66vw;
    height: 50.219619vw;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 50%;
  }
  .jQuery {
    width: 29vw;
    margin-left: 1.66vw;
    height: 50.219619vw;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 70%;
  }
  .jQuerylist {
    position: absolute;
    right: 25%;
    top: 50%;
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    text-align: center;
    line-height: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
  }

  .exit {
    position: absolute;
    top: 12%;
    right: 2%;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: var(--co-or);
    font-size: 2rem;
    text-align: center;
    line-height: 5rem;
  }
  .exit a {
    width: 80px;
    height: 80px;
  }
}
