@media only screen and (min-width: 1366px) {
  @font-face {
    font-family: 'NanumBarunpenR';
    src: url('../../fonts/NanumBarunpenR.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lekton-Regular';
    src: url('../../fonts/Lekton-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  #wrap {
    width: 100%;
    min-width: 1280px;
    height: auto;
    min-height: 3000px;
    background-color: var(--co-bl);
  }

  #headBox {
    position: fixed;
    z-index: 1500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 600px;
  }
  #headBox.default::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 100%;
  }
  h1 {
    z-index: 100;
    position: absolute;
    left: -600px;
    right: 0;
    top: 100px;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgba(0 16 30 0.5);
  }
  h1 a {
    background-image: url('../../img/gracesite_02.png');
    background-size: contain;
  }

  .image_area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .image_area div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-repeat: no-repeat;
  }

  .front_image {
    z-index: 10;
    background-position: 30% 200px;
    background-size: cover;
    left: 100%;
    background-image: url('../../img/rich_hatch_child_03.png');
  }
  .back_image {
    background-position: 50% 0px;
    background-size: cover;
    z-index: 5;
    background-image: url('../../img/federico-beccari_01.jpg');
  }

  .blink_area {
    width: 100%;
    height: 2500px;
    background-color: var(--co-bl);
  }

  /*-------------contentBox-----------------*/
  #contentBox {
    position: relative;
    width: 100%;
    height: 95.168375vw;
    margin: auto;
    background-color: var(--co-bl);
    text-transform: uppercase;
  }

  .introducingBox {
    font-family: Lekton, NanumBarunpenR;
    width: 77.598829vw;
    margin: auto;
    padding-top: 10vw;
  }
  .introducingBox li {
    float: left;
    color: var(--co-wh);
    font-size: 1.2rem;
  }
  .introducingBox li:first-child {
    width: 42.152778vw;
    height: 7.7777778vw;
    line-height: 3rem;
  }
  .introducingBox .circle_01 {
    position: absolute;
    left: 24vw;
    top: 10vw;
    z-index: 1400;
    width: 5.490483vw;
    height: 5.490483vw;
    background-color: rgba(255, 139, 0, 0.5);
    border-radius: 100%;
  }
  .introducingBox li:nth-child(3) {
    margin-left: 14vw;
    margin-top: 25vw;
    width: 21.961933vw;
    height: 8.199122vw;
    line-height: 4rem;
  }
  .introducingBox .circle_02 {
    position: absolute;
    left: 23vw;
    top: 42vw;
    z-index: 1400;
    width: 5.490483vw;
    height: 5.490483vw;
    background-color: rgba(255, 139, 0, 0.5);
    border-radius: 100%;
  }
  .introducingBox li:nth-child(5) {
    width: 29.282577vw;
    height: 47.584187vw;
    margin-top: 13.418741vw;
    margin-left: 6vw;
    background-image: url(../../img/myPic.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
  }
  .introducingBox li:nth-child(6) {
    float: right;
    margin-right: 0;
    margin-top: 10vw;
    width: 400px;
    height: 8.199122vw;
    line-height: 4.5rem;
    text-align: right;
  }
  .introducingBox .circle_03 {
    position: absolute;
    z-index: 1400;
    top: 108vw;
    right: 19vw;
    width: 5.490483vw;
    height: 5.490483vw;
    background-color: rgba(255, 139, 0, 0.5);
    border-radius: 100%;
  }

  /*------------------#explainWrap-------------*/

  #explainWrap {
    width: 100%;
    height: 43.923865vw;
  }
  .explainWrap {
    margin: auto;
    width: 1080px;
    height: 43.923865vw;
  }
  .explainWrap div {
    font-family: lekton-Regular;
    float: left;
    margin: auto;
    box-sizing: border-box;
    width: 350px;
    height: 474px;
    border: 1px solid var(--co-or);
    text-align: center;
    line-height: 30rem;
    color: var(--co-wh);
    font-size: 1.3rem;
  }

  #explainWrap div a {
    display: inline-block;
    width: 350px;
    height: 474px;
  }
  #explainWrap div a:hover,
  #explainWrap div a:focus {
    background-color: var(--co-or-op);
  }
}
